#############
# DATABASES #
#############
# Postgres Live
# DB_HOST=127.0.0.1
# DB_DRIVER=postgres
# DB_USER=username
# DB_PASSWORD=password
# DB_PASSWORD_FILE=/run/secrets/db_password
# DB_NAME=dbname
# DB_PORT=5432 #Default postgres port

# Mysql Live
# DB_HOST=127.0.0.1
# DB_DRIVER=mysql 
# DB_USER=username
# DB_PASSWORD=password
# DB_PASSWORD_FILE=/run/secrets/db_password
# DB_NAME=dbname
# DB_PORT=3306 #Default mysql port

# SQLite (file will be database.db)
# DB_DRIVER=sqlite


#############
# USER DATA #
#############
# ADMIN_EMAIL=admin@admin.com
# ADMIN_PASSWORD=sheetable
# ADMIN_PASSWORD_FILE=/run/secrets/admin_password
	

####################
# GENERAL SETTINGS #
####################
# APP_ENV=development
# API_SECRET=replace-with-a-long-random-value
# API_SECRET_FILE=/run/secrets/api_secret
# PORT=7373
# SERVER_URL=http://localhost:8080
# CONFIG_PATH=./config/
# PDF2PNG_URL=http://localhost:5000/createthumbnail
# OPEN_OPUS_URL=https://api.openopus.org

 
###############
# DEVELOPMENT #
###############
# DEV=1


#################
# SMTP SETTINGS #
#################
# SMTP_ENABLED=0
# SMTP_FROM=noreply@email.com
# SMTP_SERVER_ADDR=smtp.mail.com
# SMTP_HOST_SERVER_PORT=587
# SMTP_USERNAME=yourusername
# SMTP_PASSWORD=yourpassword
# SMTP_PASSWORD_FILE=/run/secrets/smtp_password
